# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# Production
build/
dist/
public/

# Environment variables
.env
.env.local
.env.*.local

# Local development
*.log
*.sqlite
.DS_Store # macOS
Thumbs.db # Windows
.vscode/ # VS Code settings
.idea/ # WebStorm/IntelliJ settings